{% extends '::base.html.twig' %}

{% block body -%}
    <h1>GrantType</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Gid</th>
                <td>{{ entity.gId }}</td>
            </tr>
            <tr>
                <th>Grantname</th>
                <td>{{ entity.grantName }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('granttype') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('granttype_edit', { 'id': entity.gId }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
