{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Price Table</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Tid</th>
                <td>{{ entity.ticketid }}</td>
            <tr>
                <th>Cid</th>
                <td>{{ entity.categoryid }}</td>
            </tr>         
            <tr>
                <th>Price</th>
                <td>{{ entity.priceperticket }}</td>
            </tr>
           
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('price') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('soldtickets_edit', { 'id': entity.Ticketid.tId }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
