{% extends '::base.html.twig' %}

{% block body -%}
<div id="container">
			<div id="header">
			
			<div>{% image '@deprojectfirstBundle/Resources/public/images/marego.jpg'  output="images/marego.jpg" %}
    <img src="{{ asset_url }}" alt="marego" align="right" width="200" height="100" /></div>
			  {% endimage %}</div></div><br><br><br>
    <h1>Tickets List</h1>

    <table border='1' cellpadding='10'>
        <thead>
            <tr>
                <th>Ticket Id</th>
                <th>Ticket Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tickets_show', { 'id': entity.tId }) }}">{{ entity.tId }}</a></td>
                <td>{{ entity.tname }}</td>
                <td>
                <ul>                  
                    <li>
                        <a href="{{ path('tickets_edit', { 'id': entity.tId }) }}">Edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tickets_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    <div id="footer">
			<div>{% image '@deprojectfirstBundle/Resources/public/images/Capture.jpg'  output="images/Capture.jpg" %}
    <img src="{{ asset_url }}" alt="Capture" align="bottom" width="1350" height="130" />
   {% endimage %}</div>
    {% endblock %}
