{% extends '::base.html.twig' %}

{% block body -%}
<div id="container">
			<div id="header">
			
			<div>{% image '@deprojectfirstBundle/Resources/public/images/marego.jpg'  output="images/marego.jpg" %}
    <img src="{{ asset_url }}" alt="marego" align="right" width="200" height="100" /></div>
			  {% endimage %}</div></div><br><br><br>
    <h1>Partners</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Pid</th>
                <td>{{ entity.pid }}</td>
            <tr>
                <th>Pname</th>
                <td>{{ entity.pName }}</td>
            </tr>
            <tr>
                <th>Strasse</th>
                <td>{{ entity.strasse }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ entity.zipcode }}</td>
            </tr>
            <tr>
                <th>Fname</th>
                <td>{{ entity.fName }}</td>
            </tr>
            <tr>
                <th>Lname</th>
                <td>{{ entity.lName }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Iban</th>
                <td>{{ entity.iban }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ entity.phone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ entity.mail }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Securitypassword</th>
                <td>{{ entity.securitypassword }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('partners') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('partners_edit', { 'id': entity.pid }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
<div id="footer">
			<div>{% image '@deprojectfirstBundle/Resources/public/images/Capture.jpg'  output="images/Capture.jpg" %}
    <img src="{{ asset_url }}" alt="Capture" align="bottom" width="1350" height="130" />
   {% endimage %}</div>
{% endblock %}
