{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Soldtickets list</h1>

    <table border='1' cellpadding='10'>
        <thead>
            <tr>
                <th>Tid</th>
                <th>cid</th>
                <th>gid</th>
                <th>Partner</th>
                <th>quantity</th>
                <th>priceperticket</th>
                <th>Total</th>
                <th>date</th>
                <th>Actions</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('soldtickets_show', { 'id': entity.tId }) }}">{{ entity.tId }}</a></td>
                <td>{{ entity.cId }}</td>
                <td>{{ entity.gId.grantName}}</td>
                <td>{{ entity.pid.pName}}</td>
                <td>{{ entity.quantity }}</td>
                <td>{{ entity.pricePerTicket }}</td>
                <td>{{ entity.total }}</td>
                <td>{{ entity.date_created }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('soldtickets_show', { 'id': entity.tId }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('soldtickets_edit', { 'id': entity.tId }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('soldtickets_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
