{% extends '::base.html.twig' %}

{% block body -%}
<div id="container">
			<div id="header">
			
			<div>{% image '@deprojectfirstBundle/Resources/public/images/marego.jpg'  output="images/marego.jpg" %}
    <img src="{{ asset_url }}" alt="marego" align="right" width="200" height="100" /></div>
			  {% endimage %}</div></div><br><br><br>
    <h1>Soldtickets list</h1>

    <table border='1' cellpadding='10'>
        <thead>
            <tr>
                <th>Ticket</th>
                <th>Category</th>
                <th>Grant type</th>
                <th>Partner</th>
                <th>quantity</th>
                <th>Total</th>
                <th>date</th>
                <th>Actions</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
        		<td>{{ entity.Ticket.tName }}</td>
                <td>{{ entity.category.cName }}</td>
                <td>{{ entity.grantType.grantName}}</td>
                <td>{{ entity.partner.pName}}</td>
                <td>{{ entity.quantity }}</td>
                <td>{{ entity.total }}</td>
                <td>{{ entity.date }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('soldtickets_edit', {  'id': entity.date,'ticket': entity.Ticket.tName ,'category': entity.category.
                        cId,'granttype': entity.grantType.gId}) }}">Edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('soldtickets_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    <div id="footer">
			<div>{% image '@deprojectfirstBundle/Resources/public/images/Capture.jpg'  output="images/Capture.jpg" %}
    <img src="{{ asset_url }}" alt="Capture" align="bottom" width="1350" height="130" />
   {% endimage %}</div>
    {% endblock %}
